<!DOCTYPE html>
<html>
  <head>
    <title>Pharmácia Boa Nota</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" src="src/styles.css" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <style>
        body {
            background-color: #383538F2;;
            background-size: 100%;       
        }

        #mainNav {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            background-color: #ffffffE6;
            transition: background-color 0.2s ease;
            list-style: none;
            position: absolute;
            height: 134.58px;
            left: -11px;
            right: 0px;
            top: calc(0% - 174.58px/2 + 108.79px);
            overflow: hidden;
        }

        a {
            font-size: 20px;
            font-family: 'Merriweather Sans';
            font-style: normal;
        } 

        li {
            display: inline;
            padding: 38px;
        }




    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container">
        <img class="imglogo" src="static/img/Logo.png"/>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/remediosAdm">editar remédios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/cadastro" > cadastro de remédios</a> 
             
                 
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
