<!DOCTYPE html>
<html>
  <head>
    <title>Pharmacia da Boa Nota</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" src="src/styles.css" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <style>
        body {
          background-image: url("static/img/imgdefundo.jpg");
          background-size: 100%;       
        }

        ul {
          background-color: #383538F2;
          list-style: none;
          position: absolute;
          height: 134.58px;
          left: -11px;
          right: 0px;
          top: calc(60% - 174.58px/2 + 108.79px);
          overflow: hidden;
          text-align: center;
          font-family: 'Merriweather Sans', sans-serif;
        }

        li {
          display: inline;
        }

        .teste {
          padding: 38px;
        }

        p {
          padding-top: 30px;
          font-size: 20px;
          font-family: 'Merriweather Sans';
          font-style: normal;
          color: #C50007CC;
          text-align: center;
        }

        li a {
          float: center;
          font-family: 'Merriweather Sans';
          font-style: normal;
          color: #FFFFFFCC;
        }

        a {
          color: #246666;
          font-family: 'Merriweather Sans';
          font-style: normal;
          padding: 10px;
          text-decoration: none;
        }

    </style>
  </head>

  <body>
    <div id="app"></div>

    <ul>
      <li><p>Pharmacia da Boa Nota</p></li>
      <li><a href="/remedios">remédios</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/cadastro">cadastro</a></li>
      <li><a href="/login">pedidos</a></li>
    </ul>

      <!-- Configuração do JS no Projeto-->
	  <script src="src/index.js"></script>
	    <!-- Configuração do JS, JQuery e Popper do BootStrap no Projeto-->
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
